* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #FFFFFF;
}

.btn {
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 48px;
    margin-top: 17px;
}

nav {
    margin: 30px auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    font-weight: 800;
    color: #3A3A3A;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 34px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

#bennar {
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 80px;
}

.benner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 133px;
}

.bennar-contant {
    width: 570px;
}

.bennar-contant h1 {
    font-size: 52px;
    font-weight: 900px;
    color: #3A3A3A;
}

.bennar-contant p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    color: #3A3A3A;
}

.bennar-image {
    background: url(../images/Circle\ design.svg);
    background-position: center;
    background-size: 100%;
}

#commpani {
    width: 1110px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 69px;
}

.commpani-container {
    width: 986;
    display: flex;
    margin: 36px 60px;
    justify-content: space-between;
    align-items: center;
}

.commpani-logo img {
    width: 100%;
    height: 100%;
}

#product {
    max-width: 1140px;
    margin: 0 auto;
}

.Collection-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.Collection-card {
    width: 329px;
    height: 476px;
    box-shadow: 0 4px 4px 0 #00000033;
}

.Collection-card img {
    padding: 17px 15px;
}

.Collection-card h3 {
    font-size: 28px;
    margin-left: 14px;
    font-weight: 600;
    color: #3A3A3A;
}

.Collection-card h4 {
    font-size: 24px;
    margin-left: 14px;
    margin-top: 8px;
    font-weight: 400;
    color: #3A3A3A;
}

.Collection-card p {
    width: 190px;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 14px;
    font-weight: bold;
    line-height: 28px;
    color: #787885;
}







/* responsive for mobile phone */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        
    }

    .menu ul{
        flex-wrap: wrap-reverse;
        gap: 30px;
        margin-top: 25px;
    }
    #bennar {
        margin: 0 auto;
        width: 100%;
    }

    .benner-container {
        flex-direction: column-reverse;
        width: 100%;
        gap: 50px;
    }

    .bennar-contant {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .bennar-contant h1 {
        font-size: 30px;
        text-align: center;
    }

    .bennar-contant p {
        font-size: 14px;
        text-align: center;
        margin: 15px 20px;
    }

    .bennar-image {
        margin-top: 22px;
        width: 100%;
        background-size: 100%;
        background-position: center;
    }

    .bennar-image img {
        width: 100%;
    }

    .button {
        text-align: center;
    }

    #commpani {
        width: 100%;
    }

    .commpani-container {
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 20px;
    }

    .commpani-logo img {
        width: 90%;
    }

    .Collection-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .Collection-card{
        width: 95%;
        margin: 0 auto;
    }
}